<h1>Sign Up</h1>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :username, label: 'Your username please' %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password, hint: 'No special characters.', input_html: { maxlength: 20 }  %>
    <%= f.input :password_confirmation, label: false %>
    <%#= f.input :remember_me, inline_label: 'Yes, remember me', as: :text %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



