
%dl.dl-horizontal
  %dt
    %b Title:
  %dd= @post.title
  %dt
    %b Description:
  %dd= @post.description
  %dt
    %b Category:
    - @post.categories.each do |x|
      %dd= x.title+':'
  %dt
    %b Image:
  %dd
    - @post.images.each do |x|
      = image_tag(x.photo.url)
  %dt
    %b Price:
    %dd= @post.price

= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary"
\|
= link_to 'Back', posts_path, class: "btn btn-default"
